@charset "UTF-8";

body {
    font-family: 'Rubik', sans-serif;
    position: relative;
}

a {
    color: #e38cb7;
}

a:hover,
a:focus {
    color: #d6619c;
}

h1 {
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 45px;
    font-weight: 300;
    color: #633991;
    letter-spacing: -1px;
    margin-bottom: 1rem;
}

h3 {
    color: #633991;
    font-size: 33px;
    font-weight: 500;
}

h4 {
    font-size: 20px;
    font-weight: 500;
    color: #633991;
}

h5 {
    font-size: 18px;
    font-weight: 500;
    color: #633991;
}

p {
    color: #494749;
    text-align: justify;
}



.section {
    padding: 80px 0;
}

.section-title {
    text-align: center;
    margin-bottom: 3rem;
}

.section-title small {
    color: #998a9b;
}

@media (max-width:767px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 30px;
    }
}

.nav-menu {
    padding: 1rem 0;
    transition: all 0.3s ease;
}

.nav-menu.is-scrolling,
.nav-menu.menu-is-open {
    background-color: rgb(74, 13, 143);
    background: -moz-linear-gradient(135deg, rgb(74, 13, 143) 0%, rgb(250, 42, 143) 100%);
    background: -webkit-linear-gradient(135deg, rgb(74, 13, 143) 0%, rgb(250, 42, 143) 100%);
    background: linear-gradient(135deg, rgb(74, 13, 143) 0%, rgb(250, 42, 143) 100%);
    -webkit-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
}

.nav-menu.is-scrolling {
    padding: 0;
}

.navbar-nav .nav-link {
    position: relative;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
        font-size: 14px;
    }
    .navbar-nav>.nav-item>.nav-link.active:after {
        content: "";
        border-bottom: 2px solid #cd99d4;
        left: 1rem;
        right: 1rem;
        bottom: 5px;
        height: 1px;
        position: absolute;
    }
}

@media (max-width:991px) {
    .navbar-nav.is-scrolling {
        padding-bottom: 1rem;
    }
    .navbar-nav .nav-item {
        text-align: center;
    }
}

header {
    padding: 100px 0 0;
    text-align: center;
    color: #FFF;
}

header h2{
    color: #ffffff;
}

.bg-gradient {
    background-image: -moz-linear-gradient( 135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);
    background-image: -webkit-linear-gradient( 135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);
    background-image: -ms-linear-gradient( 135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);
    background-image: linear-gradient( 135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);  
}

.tagline {
    font-size: 23px;
    font-weight: 300;
    color: #ffb8f6;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.img-holder {
    height: 0;
    padding-bottom: 23%;
    overflow: hidden;
}

@media (max-width:1200px) {
    .img-holder {
        padding-bottom: 50%;
    }
}

@media (max-width:767px) {
    .tagline {
        font-size: 17px;
    }
    .img-holder {
        padding-bottom: 100%;
    }
}

.box {
    padding: 50px 30px;
    text-align: center;
    -webkit-box-shadow: 0 0 0 0 #ffffff;
    box-shadow: 0 0 0 0 #ffffff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 5px;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    border: 1px solid #633991;
    margin-bottom: 30px;
}

.box:hover {
    -webkit-box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    
}

.box h4 {
    text-transform: uppercase;    
}

.box .box-icon {
    height: 160px;
    margin-bottom: 20px;
}

.box .box-icon img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.box:hover .box-icon img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0)
}

.box p{
    text-align: justify;
}


#portfolio{
    color: #ffffff;
}

#portfolio h3, #portfolio h4, #portfolio small{
    color: #ffffff;
    text-transform: uppercase;
}

#portfolio .portfolio-detail{
    padding: 10px 25px;
}

#portfolio .portfolio-detail h4, #portfolio .portfolio-detail h5{
    text-align: center;
    color: #ffffff;
}

#portfolio .portfolio-detail p{
    max-width: 320px;
    margin: 15px auto;
    color: #ffffff;
}

#portfolio .carousel-inner img {
    width: 100%;
    height: auto;
}

footer .container{
    margin-top: 10px;
}

footer .col-sm-6:last-of-type{
    text-align: right;
}

footer p{
    font-size: 0.8em;
}

footer a, footer a:hover{
    color: #494749;
}

footer img {
    -webkit-filter: grayscale(75%);
    filter: grayscale(75%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

footer img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0)
}

.carousel-fade .carousel-inner .carousel-item {
    opacity: 0;
    transition-property: opacity;
  }
  
  .carousel-fade .carousel-inner .active {
    opacity: 1;
  }  
  
  @media all and (transform-3d), (-webkit-transform-3d) {
      .carousel-fade .carousel-inner > .carousel-item.next,
      .carousel-fade .carousel-inner > .carousel-item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
                transition-duration: 3s;
      }
      .carousel-fade .carousel-inner > .carousel-item.prev,
      .carousel-fade .carousel-inner > .carousel-item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
                transition-duration: 3s;
      }
      .carousel-fade .carousel-inner > .carousel-item.next.left,
      .carousel-fade .carousel-inner > .carousel-item.prev.right,
      .carousel-fade .carousel-inner > .carousel-item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
                transition-duration: 3s;
      }
  } 


  .bg-cloud {
      width: 100%;
      height: 100%;
    background: url(../images/clouds.png) repeat 0 0;    
    -webkit-animation: slide 50s linear infinite;
  }
  
  @-webkit-keyframes slide {
      from { background-position: 0 0; }
      to { background-position: -1985px 0; }
  }