html, body {
    height: 100%;
    min-height: 100%;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    background: #ffffff;
    color: #333333;
}

h1, h2, h3, h4, h5, h6{    
    color: #333333;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;    
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.25ch;
}

h2{font-size: 1.5em;}

p{
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    font-size: 14px;
    color: #333333;
    line-height: 2em;
}

header{background-color: #ffffff;}

a{ color: #286da8; }
a:hover{ text-decoration: none; color: #286da8}

.row{ margin-right: 0px; margin-left: 0px;}

#top_bar{    
    background-color: #286da8;
    color: #ffffff;
}

#top_bar a, #top_bar a:hover{ color: #ffffff; margin: 0px 10px; font-weight: 600;}
#top_bar .fa{ font-weight: normal; font-size: 14px;}

.top_button{ border-right: 1px solid #333333;}
.top_button:last-of-type{border-right: none;}

.top_button a{
    color: #286da8;
    font-size: 1em;
    text-transform: uppercase;
}
.top_button .fa{
    font-size: 1.5em;
}

header nav a{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}
header nav .active{ border-bottom: 2px solid #286da8;}
header .navbar-toggler{color: #286da8; margin-top: 15px; font-size: 1em;}
header .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(40,109,168, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.bg-custom{
    background-color: #286da8;
}

#SpecialitiesMenu nav a{
    color: #ffffff;
    padding-left: 10px;
}
#SpecialitiesMenu nav .active{ background-color: #ffffff; color: #286da8;}
#SpecialitiesMenu .navbar-toggler{color: #ffffff; font-size: 1em;}
#SpecialitiesMenu .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#specialities .col-4{padding: 20px 10px;}
#specialities .col-4 h6{ text-align: left;}
#specialities .col-4:hover h6{color: #286da8;}

#doctors{
    background-image: url('images/pims.jpg');
    background-attachment: fixed;
    background-size: cover; width: 100%; padding: 40px 0px; margin: 60px 0px;
    border-top: 2px solid #286da8;
    border-bottom: 2px solid #286da8;
}

#doctors .container{ background-color: rgba(255, 255, 255, 0.9)}
#doctors h5{ font-size: 1em;}

.doctor_team{padding: 10px; margin-bottom: 25px; border-bottom: 1px solid #dddddd;}
.doctor_team h3{ font-size: 1.25em;}
.doctor_team h5{ font-size: 0.8em;}
.doctor_team h6{ font-size: 0.6em;}

.tags a{ color: #888888; margin: 0px 10px;}
.teg-1
{
    font-size: 12px; 
}
.teg-2
{
    font-size: 16px; 
}
.teg-3
{
    font-size: 14px; 
}
.teg-4
{
    font-size: 18px; 
}
.teg-5
{
    font-size: 10px; 
}

footer{
    background-color: #286da8; 
    padding: 20px 0px;
    margin-top: 60px;
    color: #ffffff;
}

footer a, footer a:hover, footer h5, footer .fa{
    color: #ffffff;    
}

footer ul{
    list-style: none;
    font-size: 0.9em;
}

@media screen and (max-width: 400px){
    #specialities h6{
        font-size: 12px;
        text-align: center;
    }
}
